html {
    background-color: #fff;
}

body {
    background-image: url('./kepek/alap.jpg');
    width: 80%;
    margin:auto;
    padding: 50px 0px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #555;
}
hr {
    height: 8px;
    background-color: #555;
    border-radius: 8px;
    box-shadow: 5px;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.belso {
    width: 100%;
    padding-left:50px;
}
* {
    box-sizing: border-box;
}
img {
    width:100px;
    float: right;
}